*[alignment=leading] {
  align-items: flex-start;
}

*[alignment=center] {
  align-items: center;
}

*[alignment=trailing] {
  align-items: flex-end;
}

*[justify=leading] {
  justify-content: flex-start;
}

*[justify=center] {
  justify-content: center;
}

*[justify=trailing] {
  justify-content: flex-end;
}