divider {
  background-color: var(--light-grey);
  align-self: stretch;
}

vstack > divider {
  margin: var(--spacing-xs) 0;
  height: 1px;
}

vstack[spacing] > divider {
  margin-top: 0;
}

hstack > divider {
  margin: 0 var(--spacing-xs);
  width: 1px;
}

hstack[spacing] > divider {
  margin-left: 0;
}

divider + list {
  margin-top: calc(-1 * var(--spacing-xs));
}