hstack {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
}

hstack[spacing=xl] > * {
  margin-right: var(--spacing-xl);
}

hstack[spacing=l] > * {
  margin-right: var(--spacing-l);
}

hstack[spacing=m] > * {
  margin-right: var(--spacing-m);
}

hstack[spacing=s] > * {
  margin-right: var(--spacing-s);
}

hstack[spacing=xs] > * {
  margin-right: var(--spacing-xs);
}

hstack[spacing=xxs] > * {
  margin-right: var(--spacing-xxs);
}

hstack[spacing] > *:last-child {
  margin-right: 0;
}

/* Hstack Specific alignments */

hstack[align-y=top] {
  align-items: flex-start;
}

hstack[align-y=center] {
  align-items: center;
}

hstack[align-y=bottom] {
  align-items: flex-end;
}

hstack[align-x=left] {
  justify-content: flex-start;
}

hstack[align-x=center] {
  justify-content: center;
}

hstack[align-x=right] {
  justify-content: flex-end;
}