vstack {
  display: flex;
  align-self: stretch;
  flex: 1 1 auto;
  flex-direction: column;
}

vstack[spacing=xl] > * {
  margin-bottom: var(--spacing-xl);
}

vstack[spacing=l] > * {
  margin-bottom: var(--spacing-l);
}

vstack[spacing=m] > * {
  margin-bottom: var(--spacing-m);
}

vstack[spacing=s] > * {
  margin-bottom: var(--spacing-s);
}

vstack[spacing=xs] > * {
  margin-bottom: var(--spacing-xs);
}

vstack[spacing=xxs] > * {
  margin-bottom: var(--spacing-xxs);
}

vstack[spacing] > *:last-child {
  margin-bottom: 0;
}

vstack[align-x=left] {
  align-items: flex-start;
}

vstack[align-x=center] {
  align-items: center;
}

vstack[align-x=right] {
  align-items: flex-end;
}

vstack[align-y=top] {
  justify-content: flex-start;
}

vstack[align-y=center] {
  justify-content: center;
}

vstack[align-y=bottom] {
  justify-content: flex-end;
}